
h1 {
    text-align: center;
    margin: 50px 0;
}

h3 {
    text-align: center;
    margin: 50px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 100px 40px;
    gap: 20px;
}

#result {
    display: flex;
    justify-content: center;
    gap: 20px;
}